<!DOCTYPE html>
<html>
  <head>
    <title>model.energy/efuels</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.css" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.js"></script>
    <script src="{{ url_for('static', filename='d3.v4.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='d3-tip.js') }}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="./static/efuels.css">
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">model.energy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#intro">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#location">Select location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#assumptions">Choose technologies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#solve">Solve</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#background">Background</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Calculate costs of delivering hydrogen-based fuels</h1>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 toc-col">
          <nav id="toc" class="sticky-top"></nav>
        </div>

        <div class="col-md-12 col-lg-9">
          <div class="container-like">

            <section id="intro">
              <h2>Introduction</h2>
              <hr>
              <p>This tool calculates the cost of producing and transporting green hydrogen, i.e. electrolytic hydrogen produced with wind and solar power, as well as hydrogen-based fuels such as ammonia, methanol, methane and Fischer-Tropsch fuels.</p>
	      <p>It is a WORK IN PROGRESS and currently only works for a selection of products.</p>
	      <p>First choose the location where the hydrogen is produced and the location to which it is delivered. This determines the weather data for the wind and solar generation where the hydrogen is produced, as well as the transport costs to the destination. Then choose your cost and technology assumptions to find the solution with least cost.</p>
              <p>This is a <b>toy model</b> with a <b>strongly simplified</b> setup. Please read the <a class="js-scroll-trigger" href="#warnings">warnings</a> below.</p>
	      <p>The tool is a simplified version of the <a href="https://github.com/euronion/trace">trace model</a> behind the research paper <a href="https://doi.org/10.1371/journal.pone.0281380">Import options for chemical energy carriers from renewable sources to Germany</a> by Johannes Hampp, Michael Düren and Tom Brown,  published in PLOS ONE in 2023.</p>
	      <p>All code and data behind this tool is <a href="https://github.com/PyPSA/efuels-server">openly available</a>.</p>
            </section>

            <section id="location">
              <h2 data-toc-text="1. Select locations and weather year">Step 1: Select destination and source locations</h2>
              <hr>
              <div id="mapid">
              </div>
              <br />
              <div class="form-group">
                <label for="destLocation">Destination location (blue)</label>
                <input type="text" class="form-control" id="destLocation" name="destination_location" readonly>
                <small id="destSelect" class="form-text text-muted">Select from map above.</small>
              </div>
              <div class="form-group">
                <label for="sourLocation">Source location (red)</label>
                <input type="text" class="form-control" id="sourLocation" name="source_location" readonly>
                <small id="sourSelect" class="form-text text-muted">Select from map above.</small>
              </div>
	      {% for d in ["year"] %}
              <div class="form-group">
                <label for="sel-{{ d }}">{{ defaults[d]["full_name"] }}</label>
                <input type="number" class="form-control" id="sel-{{ d }}" name="{{ d }}">
		<small class="form-text text-muted">{{ defaults[d]["text"] }}</small>
              </div>
	      {% endfor %}
            </section>

            <section id="assumptions">
              <h2 data-toc-text="2. Choose technologies, costs and other assumptions">Step 2: Choose technologies, costs and other assumptions</h2>
              <hr>
              <div class="form-group">
                <label for="efuel">{{ defaults["efuel"]["full_name"] }}</label>
                <select class="form-control" name="efuel" id="efuel">
                  <option value="{{ config['efuels_default'] }}" selected>{{ config['efuels'][config['efuels_default']] }}</option>
		  {% for k,v in config['efuels'].items() if k != config['efuels_default'] %}
                  <option value="{{ k }}">{{ v }}</option>
		  {% endfor %}
                </select>
                <small class="form-text text-muted">{{ defaults["efuel"]["text"] }}</small>
              </div>
	      {% for d in ["efuels_load"] %}
              <div class="form-group">
                <label for="sel-{{ d }}">{{ defaults[d]["full_name"] }} [{{ defaults[d]["unit"] }}]</label>
                <input type="number" class="form-control" id="sel-{{ d }}" name="{{ d }}">
		<small class="form-text text-muted">{{ defaults[d]["text"] }}</small>
              </div>
	      {% endfor %}
              <div class="form-group">
                <label for="tech_scenario">Technology assumption scenario</label>
                <select class="form-control" name="tech_scenario" id="tech_scenario">
		  {% for year in config['tech_years'] %}
                  <option value="{{ year }}"{{ " selected" if year == config['tech_years_default'] else "" }}>{{ year }} scenario</option>
		  {% endfor %}
                </select>
                <small class="form-text text-muted">Individual cost assumptions can be changed below under "advanced assumption settings". 2030 is the default year for technology assumptions because this is the earliest reasonable time when most regions could have zero emissions.</small>
              </div>
              <p>Choose which technologies should be included:</p>
	      {% for d in ["wind","solar","battery","hydrogen","dac"] %}
	      <div class="form-check">
		<input class="form-check-input" type="checkbox" name="{{ d }}" id="sel-{{ d }}">
		<label class="form-check-label" for="sel-{{ d }}">
		  {{ defaults[d]["full_name"] }}
		</label>
		{% if not defaults[d]["text"] == "" %}
		<small class="form-text text-muted">{{ defaults[d]["text"] }}</small>
		{% endif %}
              </div>
	      {% endfor %}
              <br>
              <p>
                <a class="btn btn-secondary" data-toggle="collapse" href="#advCost" role="button" aria-expanded="false" aria-controls="advCost">Show advanced assumption settings</a>
              </p>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="advCost">
                    <div class="card card-body">
		      <p>All costs are in 2015 euros, following the <a href="https://ens.dk/en/our-services/projections-and-models/technology-data">Danish Energy Agency Technology Data Catalogue<a>.</p>
		      {% for d in defaults if defaults[d]["type"] == "b" and d not in ["wind","solar","battery","hydrogen","dac"] %}
		      <div class="form-check">
			<input class="form-check-input" type="checkbox" name="{{ d }}" id="sel-{{ d }}">
			<label class="form-check-label" for="sel-{{ d }}">
			  {{ defaults[d]["full_name"] }}
			</label>
			{% if not defaults[d]["text"] == "" %}
			<small class="form-text text-muted">{{ defaults[d]["text"] }}</small>
			{% endif %}
                      </div>
		      {% endfor %}
		      {% for d in defaults if d not in ["year","cf_exponent","efuel","efuels_load","version","destination_lat","destination_lng","source_lat","source_lng"] and defaults[d]["type"] != "b" %}
                      <div class="form-group">
                        <label for="sel-{{ d }}">{{ defaults[d]["full_name"] }}
			  {% if not defaults[d]["unit"] == "" %}
			  [{{ defaults[d]["unit"] }}]
			  {% endif %}
			</label>
                        <input type="number" class="form-control" id="sel-{{ d }}" name="{{ d }}">
			{% if not defaults[d]["text"] == "" %}
			<small class="form-text text-muted">{{ defaults[d]["text"]|safe }}</small>
			{% endif %}
                      </div>
		      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </section>


            <section id="solve">
            <h2 data-toc-text="3. Solve and wait for results">Step 3: Solve and wait for results</h2>
            <hr>
            <p>
              <button type="button" class="btn btn-lg btn-primary" id="solve-button">Solve</button>
              &nbsp;&nbsp;<span id="countdown">Ready in around {{ config["expected_time"] }} seconds</span>, status: <span id="status">Waiting for job</span>
            </p>
            <div class="accordion" id="accordionResults">
              <div id="collapseResults" class="collapse" data-parent="#accordionResults">
                <div class="card-body">
                  <div id="results">
                    <h3 data-toc-skip>Results<span id="results_assumptions"></span></h3>
                    <br />
                    <p><b><span id="average_cost"></span></b></p>
                    <p><b><span id="average_cost_per_t"></span></b></p>
		    <small class="form-text text-muted">Costs and prices are for energy delivered in 2015 euros.</small>
		    <br />
		    <p><b><span id="distance"></span></b></p>
		    <p><b><span id="distance_transported"></span></b></p>
		    <br />
                    <div id="average_cost_div">
                      <svg width="180" height="400" id="average_cost_graph"></svg>
                    </div>
                    <div id="power_capacity_bar_div">
                      <svg width="600" height="400" id="power_capacity_bar"></svg>
                    </div>
                    <div id="energy_capacity_bar_div">
                      <svg width="370" height="400" id="energy_capacity_bar"></svg>
                    </div>
                    <div id="graph">
		      <br />
		      {% for balance in config["balances_to_display"] %}
		      <p><b>{{balance}} supply and demand time series (you can zoom and pan to see the details)</b></p>
		      <svg width="890" height="500" id="{{balance}}_power_graph"></svg>
		      <svg width="250" height="400" id="{{balance}}_power_graph_legend"></svg>
		      {% endfor %}
                    </div>
                  </div>
                  <div id="results_summary">
		    <br /><br />
		    <br /><br />
		    <table id="results_table">
                      <tr>
                        <th class="tab_asset" id="tabh_asset">Asset</th>
                        <th class="tab_data" id="tabh_capacity">Capacity</th>
                        <th class="tab_data" id="tabh_cf_used">Cap Ftr used [%]</th>
                        <th class="tab_data" id="tabh_cf_available">Cap Ftr avail [%]</th>
                        <th class="tab_data" id="tabh_curtailment">Curtlmt [%]</th>
                        <th class="tab_data" id="tabh_lcoe">LCOE/S [EUR/MWh]</th>
                      </tr>
		    </table>
		    <small class="form-text text-muted">Cap Ftr = Capacity Factor, used is after curtailment, avail is available before curtailment, Curtlmt = Curtailment, LCOE/S = Levelised Cost of Electricity/Storage per energy used, Rel Mkt Value = Relative Market Value (market revenue averaged over dispatch divided by average market price)</small>
		    <br />
		    <p><span id="results-overview-download"></span></p>
		    <p><span id="results-series-download"></span></p>
		    <p><span id="results-netcdf-download"></span></p>
		    <p><span id="results-link"></span></p>
                  </div>
                </div>
              </div>
            </div><!-- accordion-->
            </section>

            <section id="background">
              <h2>Background and warnings</h2>
              <hr>
              <p>
                This is a <b>toy model</b> with a <b>strongly simplified</b> setup.   Please read the <a href="#warnings">warnings</a> before interpreting the results.
	      </p>
	      <p>The tool is a simplified version of the model behind the research paper <a href="https://doi.org/10.1371/journal.pone.0281380">Import options for chemical energy carriers from renewable sources to Germany</a> by Johannes Hampp, Michael Düren and Tom Brown, published in PLOS ONE in 2023. See the <a href="#differences">differences</a> to the paper.</p>

              <h3 id="warnings">Warnings</h3>
              </p>
              <ol>
                <li>
                  Electricity systems with zero direct CO2 emissions can be
                  built more cheaply by using additional technology options. The
                  examples here are simply a toy model to put an upper bound on the
                  costs for a very simple setup. Additional generation technologies
                  which may reduce costs include using existing hydroelectric
                  generators, biomass from sustainable resources (such as waste and
                  agricultural/forestry residues), offshore wind, concentrating
                  solar thermal, geothermal, ocean energy, nuclear and
                  fossil/biomass plants with CCS. Two additional dispatchable technologies are provided under "advanced assumption settings". Additional storage technologies
                  include redox flow batteries, compressed air energy storage,
                  etc.
                </li>
                <li>
                  No import or export capacities with other regions are
                  assumed, so each region must supply demand as an island. Existing and planned transmission grid connections between
                  regions can reduce electricity costs by up to 20% by smoothing wind over a
                  continent-sized area (see e.g. <a href="https://arxiv.org/abs/1704.05492">this paper</a> or <a href="https://arxiv.org/abs/1705.07617">this one</a>).
                </li>
                <li>
                  The time series for wind and solar generation are
                  based on weather data from the European Centre for Medium-Range
                  Weather Forecasts
                  (ECMWF) <a href="https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-single-levels">ERA5 reanalysis
                  dataset</a>. Reanalysis datasets are generated by fitting numerical weather simulations to real measured data. In regions where real measurements are sparse, reanalysis data may deviate from observed weather patterns. In addition, reanalysis datasets may not always capture clouds accurately, so for PV generation it is advisable to include satellite observations in calculations, such as the <a href="https://wui.cmsaf.eu/safira/action/viewDoiDetails?acronym=SARAH_V002">CMSAF SARAH II dataset</a> (available only for Europe and Africa). Weather data is converted to power generation using the <a href="https://github.com/FRESNA/atlite">atlite library</a>. No further corrections are applied, except a 7% linear scaling down of solar generation time series to fit measured European capacity factors for 2011-2013.
                </li>
                <li>
                  The wind profiles used here are converted from wind speed time series assuming an existing wind turbine model (Vestas V112 3MW with a hub height of 80m). Newer and future turbines will have higher capacity factors because e.g. they're taller, capturing wind energy where resources are better.
                </li>
                <li>
                  Solar profiles are calculated assuming that panels in the northern hemisphere face south, and that panels in the southern hemisphere face north, with a slope of 35 degrees against the horizontal in both cases.
                </li>
                <li>
                  The default costs for underground hydrogen storage (2 EUR/kWh) assume hydrogen gas is stored in salt caverns in suitable underground salt deposits. Studies on salt deposit availability are available for most countries, see e.g. <a href="https://www.researchgate.net/figure/Underground-salt-deposits-and-cavern-fields-in-Europe-225_fig5_319417820">this map</a> for Europe or Figure 2 of <a href="https://www.nrel.gov/docs/fy10osti/46719.pdf">NREL 2009</a> for the United States. Where suitable salt deposits are not available, hydrogen can be stored in aboveground steel tanks for 13 EUR/kWh.
                </li>
                <li>
                  Costs for ancillary services inside each production island are not included.
                </li>
                <li>
		  To avoid long job times, the default here is to run
                only for a single weather year sampled at most every 3
                hours. You can download the code yourself and run
                hourly for multiple weather years.
		</li>
                <li>
		  The joint production of electricity and hydrogen can lead to lower costs for both, particularly for a low ratio of hydrogen to electricity production. Flexible electrolyser demand creates flexibility for integrating wind and solar for electricity production. However, operating the efuels production in island mode can save costs compared to joint production, since the alternating current doesn't have to match a perfect sine wave. This saves on power electronic costs.</li>
		<li>The shipping model is simplified. We assume that there are enough ships for a continuous delivery of efuels. The number of ships needed takes into account the time it takes the ships to do a return trip including loading and unloading the efuel.</li>
		<li>We do not allow waste heat integration. For example, the waste heat from methanol or Fischer-Tropsh synthesis could be fed to direct air capture.</li>
		<li>Lower reliability delivery of efuels than baseload may cost less, especially for electricity and hydrogen, which are hard to store.</li>
		<li>The minimum must-run level also represents availability, taking into account maintenance sheduling for many aggregated units.</li>
              </ol>
              <h3 id="differences">Differences to model in Hampp et al, 2023</h3>
	      <p>This tool is a simplified version of the model behind
	      the research
	      paper <a href="https://doi.org/10.1371/journal.pone.0281380">Import
	      options for chemical energy carriers from renewable
	      sources to Germany</a> by Johannes Hampp, Michael Düren
	      and Tom Brown, published in PLOS ONE in 2023 (Hampp et
	      al, 2023).</p>
              <p>The following list highlights the main differences.</p>
	      <ol>
                <li>The default cost assumptions for hydrogen storage
                in steel tanks in the paper are higher than on this
                website. The paper assumes costs of steel tanks in
                2030 of around 45 EUR/kWh, FOM 2% and lifetime of 30
                years; use these values to reproduce the paper's
                results. The website uses for Type I steel tanks costs
                in 2030 of 12.23 EUR/kWh, FOM 2% and lifetime of 20
                years.
		</li>
		<li>The paper assumes that the best wind and solar
		resources in each country are used for domestic energy
		and excludes these areas from being used for efuel
		exports. Since this website only allows point
		locations for wind and solar, we do not do this. This
		effect can lead to slightly lower costs on the website
		compared to the paper for densely-populated countries
		like Germany.</li>
		<li>The model for the paper allows many wind and solar locations in
		each country to be combined. This leads to a
		smoothing effect across the country that reduces balancing costs compared
		to an efuels plant at a single location. This effect makes
		the costs on the website higher than the paper in most
		countries with good wind and solar resources in
		  sparsely-populated areas.</li>
		<li>The paper assumes that efuel demand is fixed for
		the year, but is not strict about when the efuel is
		delivered during the year. The website requires
		baseload delivery of the efuel. This makes the website
		 results more expensive.</li>
		<li>The paper used <a href="https://github.com/niclasmattsson/GlobalEnergyGIS">GlobalEnergyGIS</a> for processing the weather data, whereas the website uses the <a href="https://github.com/PyPSA/atlite">atlite library</a>.</li>
		<li>The paper uses a default minimum part load of
		94.25% for methanol and Fischer-Tropsh synthesis, and
		30% for NH3 and CH4. The website has a default of 50% for methanol
		synthesis and 30% for NH3 and CH4.</li>
		<li>The paper includes compression costs and energy
		demand for liquid CO2 tanks, whereas the website
		ignores these since the effect is tiny.</li>
		<li>The paper includes water desalination, whereas the paper ignores it since it is a small effect.</li>
		<li>The website has a simplified version of the shipping model in the paper.</li>
	      </ol>




	      <h3>Only free software and open data</h3>
              <p>The graphical user interface,
		weather processing, optimisation model construction, solver and post-processing are all built with
		free software and open data only. The
                code for all parts except the solver can be downloaded from the GitHub
                repository <a href="https://github.com/PyPSA/efuels-server">efuels-server</a>. It uses
                the <a href="https://github.com/PyPSA/PyPSA">Python for Power
                System Analysis (PyPSA)</a> energy optimisation framework, open
                weather data
                from the European Centre for Medium-Range Weather Forecasts (ECMWF) <a href="https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-single-levels">ERA5 reanalysis dataset</a>, the <a href="https://github.com/PyPSA/atlite">atlite library</a> for converting weather data to generation profiles,
                <a href="https://d3js.org/">D3.js</a> for graphics, <a href="https://www.mapbox.com/">Mapbox</a>, <a href="http://leafletjs.com/">Leaflet</a> and <a href="https://www.naturalearthdata.com/">Natural Earth</a> for maps,  <a href="https://github.com/coin-or/Clp">Clp</a> for the solver, and
		free software for the server infrastructure (GNU/Linux, nginx, Flask, gunicorn, Redis).</p>
	      <p>The code is a simplified version of the <a href="https://github.com/euronion/trace">trace model</a> by Johannes Hampp used in <a href="https://doi.org/10.1371/journal.pone.0281380">Hampp et al, 2023</a>.</p>
              <h3>New functionality coming soon</h3>
              <p>See the <a href="https://github.com/PyPSA/efuels-server/issues">GitHub issue tracker</a>.</p>
	      <h3>Problems/comments/feedback/help out</h3>
              <p>If you encounter any problems please report them using the <a href="https://github.com/PyPSA/efuels-server/issues">GitHub issue tracker</a>. It would be helpful to note the jobid and any other error messages from your browser's JavaScript console (find the console via your browser's "Developer Tools").</p>
              <p>If you want to help out and contribute improvements, please submit a <a href="https://github.com/PyPSA/efuels-server/pulls">pull request</a>!</p>
              <p>Any other feedback and comments can be sent to <a href="https://nworbmot.org/">Tom Brown</a>.</p>
              <h3>Contributors and thanks</h3>
	      <ul>
                <li><a href="https://nworbmot.org/">Tom Brown</a> conceived and developed the website.</li>
		<li><a href="https://www.linkedin.com/in/johannes-hampp-4572b5126/">Johannes Hampp</a> developed the original <a href="https://github.com/euronion/trace">trace model</a> on which this website is based.</a>
                <li><a href="https://tberg.dk">Bo Tranberg</a> of <a href="https://ento.ai">Ento Labs</a> implemented the user interface in <a href="https://getbootstrap.com">bootstrap</a>.</li>
                <li><a href="https://github.com/coroa">Jonas Hörsch</a> developed the library <a href="https://github.com/PyPSA/atlite">atlite</a> that processes the weather data and selects different geographical areas.</li>
              </ul>
	      <p>We thank also all the developers of the other free software on which model.energy depends.</p>
              <h3>Privacy statement</h3>
              <p>No personal information is stored on the server. There are no cookies.</p>
              <p>Simulation assumptions and results for each job are stored on the server for statistical purposes.</p>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scrolling-nav.js') }}"></script>
    <script type="text/javascript">

      // Determine which navbar to assign scrollspy depending on window width
      if ($(window).width() >= 992) {
        $(function() {
          var navSelector = "#toc";
          var $myNav = $(navSelector);
          Toc.init($myNav);
          $("body").scrollspy({
            target: navSelector
          });
        });
      } else {
        $('body').scrollspy({
          target: '#mainNav',
          offset: 56
        });
      }


      var defaults = {{defaults | tojson}};
      var defaults_t = {{defaults_t | tojson}};
      var config = {{config | tojson}};
      var results = {{ results | tojson }};

    </script>
    <script src="./static/efuels.js"></script>
  </body>
</html>
